body {  
    background-color: #000;
    font-size: 40px;
    letter-spacing: 0.5px;
    position: relative;
}

.love__row {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.love {
    color: rgb(207, 58, 21);
   
}